.root {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
}

.title {
  color: #1f2f2a;
  font-size: 18px;
  font-weight: 700;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "project summary" "table table";
  width: 100%;
  gap: 32px;
}

.project {
  grid-area: project;
}

.summary {
  grid-area: summary;
}

.table {
  grid-area: table;
}