@use "breakpoints" as bp;

.HomePage {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  padding: 16px;

  @include bp.md {
    padding: 32px;
  }

  &__title {
    font-size: 24px;
  }
}
