.root {
  padding: 28px;
  width: 100%;
  border: 1px solid #e4e9e6;
  border-radius: 8px;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plus {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  color: rgb(148, 174, 159);

  &:hover {
    background: #eef9f3;
    color: #42b883;
  }
}

.list {
  display: grid;
  gap: 32px;
  margin-top: 20px;
}

.links {
  margin-top: 36px;
}