.TaskTable {
  padding: 28px;
  width: 100%;
  border: 1px solid #e4e9e6;
  border-radius: 8px;

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    color: #16251f;
    font-size: 18px;
    font-weight: 800;
  }
}